<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2
            class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight">
            Sign in to your account
        </h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6" action="/login" method="POST">
            <div>
                <label for="email" class="block text-sm font-medium leading-6"
                    >Email</label
                >
                <div class="mt-2">
                    <input
                        id="email"
                        name="email"
                        type="email"
                        autocomplete="email"
                        required
                        class="block w-full input input-bordered" />
                </div>
            </div>

            <div>
                <div class="flex items-center justify-between">
                    <label
                        for="password"
                        class="block text-sm font-medium leading-6"
                        >Password</label
                    >
                </div>
                <div class="mt-2">
                    <input
                        id="password"
                        name="password"
                        type="password"
                        autocomplete="current-password"
                        required
                        class="block w-full input input-bordered" />
                </div>
                <div class="mt-2">
                    <input
                        id="show-password"
                        type="checkbox"
                        class="checkbox"
                        onclick="showPassword()" />
                    <label
                        for="show-password"
                        class="text-sm font-medium leading-6">
                        Show Password</label
                    >
                </div>
            </div>
            <div>
                <% if (wrongUser) { %>
                <p class="text-secondary">Email or password is incorrect.</p>
                <%}%>
            </div>

            <div>
                <button
                    type="submit"
                    class="flex w-full justify-center btn btn-outline"
                    id="signin">
                    Sign In
                </button>
            </div>
        </form>

        <p class="mt-10 text-center text-sm">
            Not a member?
            <a href="/signup" class="leading-6 font-bold underline-offset-1"
                >Register Now</a
            >
        </p>
    </div>
</div>
