<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Recruit</title>
        <link
            rel="shortcut icon"
            href="images/recruitment"
            type="image/x-icon" />
    </head>
    <body>
        <p>Recruiter</p>
    </body>
</html>
