<!DOCTYPE html>
<html data-theme="dim" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Recruit</title>
        <link
            rel="shortcut icon"
            href="./images/recruitment.png"
            type="image/x-icon" />
        <link
            rel="shortcut icon"
            href="images/recruitment"
            type="image/x-icon" />
        <link rel="stylesheet" href="style/output.css" />
    </head>
    <body>
        <div class="navbar"><%-include('header',{user:"recruiter"}) %></div>
        <%- body%>
    </body>
</html>
