<div class="mx-auto w-[60vw] p-8 shadow-2xl my-4 rounded-3xl text-base">
    <form>
        <div>
            <h2 class="font-semibold text-2xl leading-7 pb-4">Profile</h2>
            <hr />
        </div>
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="col-span-full">
                <label for="image" class="block text-sm font-medium leading-6"
                    >Image</label
                >
                <div class="mt-2 flex items-center gap-x-3">
                    <div class="mt-2">
                        <input
                            type="file"
                            id="image"
                            name="image"
                            class="file-input file-input-bordered border-2 focus:outline-1 w-full max-w-xs" />
                    </div>
                </div>
            </div>
            <div class="sm:col-span-3">
                <label
                    for="first_name"
                    class="block text-sm font-medium leading-6">
                    First name<sup>*</sup>
                </label>
                <div class="mt-2">
                    <input
                        type="text"
                        name="first_name"
                        id="first_name"
                        class="input input-bordered border-2 focus:outline-1 w-full max-w-xs" />
                </div>
            </div>

            <div class="sm:col-span-3">
                <label
                    for="last_name"
                    class="block text-sm font-medium leading-6"
                    >Last name<sup>*</sup></label
                >
                <div class="mt-2">
                    <input
                        type="text"
                        name="last_name"
                        id="last_name"
                        class="block w-full input input-bordered border-2 focus:outline-1 max-w-xs" />
                </div>
            </div>

            <div class="sm:col-span-4">
                <label for="email" class="block text-sm font-medium leading-6"
                    >Email<sup>*</sup></label
                >
                <div class="mt-2">
                    <input
                        id="email"
                        name="email"
                        type="email"
                        class="block w-full input input-bordered border-2 focus:outline-1" />
                </div>
            </div>

            <div class="col-span-full">
                <label for="address" class="block text-sm font-medium leading-6"
                    >Address</label
                >
                <div class="mt-2">
                    <input
                        type="text"
                        name="address"
                        id="address"
                        class="block w-full input input-bordered border-2 focus:outline-1" />
                </div>
            </div>

            <div class="sm:col-span-2 sm:col-start-1">
                <label for="city" class="block text-sm font-medium leading-6"
                    >City</label
                >
                <div class="mt-2">
                    <input
                        type="text"
                        name="city"
                        id="city"
                        class="block w-full input input-bordered border-2 focus:outline-1" />
                </div>
            </div>

            <div class="sm:col-span-2">
                <label for="state" class="block text-sm font-medium leading-6"
                    >State</label
                >
                <div class="mt-2">
                    <input
                        type="text"
                        name="state"
                        id="state"
                        autocomplete="address-level1"
                        class="block w-full input input-bordered border-2 focus:outline-1" />
                </div>
            </div>

            <div class="sm:col-span-2">
                <label
                    for="pin_code"
                    class="block text-sm font-medium leading-6"
                    >PIN code</label
                >
                <div class="mt-2">
                    <input
                        type="text"
                        name="pin_code"
                        id="pin_code"
                        class="block w-full input input-bordered border-2 focus:outline-1" />
                </div>
            </div>
            <div class="col-span-full">
                <label for="about" class="block text-sm font-medium leading-6"
                    >About</label
                >
                <div class="mt-2">
                    <textarea
                        id="about"
                        name="about"
                        rows="3"
                        class="textarea textarea-bordered w-full border-2 focus:outline-1"
                        placeholder="Bio"></textarea>
                </div>
                <p class="mt-3 text-sm leading-6">
                    Write a few sentences about yourself.
                </p>
            </div>
            <div class="sm:col-span-3">
                <label
                    for="password"
                    class="block text-sm font-medium leading-6">
                    Password
                </label>
                <div class="mt-2">
                    <input
                        type="password"
                        name="password"
                        id="password"
                        class="input input-bordered border-2 focus:outline-1" />
                </div>
            </div>
        </div>

        <div class="border-b border-gray-900/10 py-12">
            <h2 class="font-semibold leading-7 mb-4">Notifications</h2>

            <div class="flex items-center gap-x-3">
                <input
                    id="push_notification"
                    name="push_notification"
                    type="checkbox"
                    class="checkbox" />
                <label
                    for="push_notification"
                    class="block text-sm font-medium leading-6"
                    >Get Notification on whatsapp.</label
                >
            </div>
        </div>
        <div>
            <p>Fields marked with <sup>*</sup> are compulsory to fill.</p>
        </div>

        <div class="mt-6 flex items-center justify-end gap-x-6">
            <button
                type="button"
                id="cancel"
                class="btn btn-outline btn-secondary">
                Cancel
            </button>
            <button type="submit" id="save" class="btn btn-outline btn-primary">
                Update
            </button>
        </div>
    </form>
</div>
