<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Job Hub</title>
        <link
            rel="shortcut icon"
            href="images/job-search"
            type="image/x-icon" />
        <link rel="stylesheet" href="style/output.css" />
    </head>
    <body>
        <div class="navbar"><%-include('header') %></div>
        <%- body%>

        <script src="node_modules/preline/dist/preline.js"></script>
        <script src="/script/darkMode.js"></script>
    </body>
</html>
